<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Items</title>
</head>
<body style="line-height: 19px;">
    <nav class="navbar navbar-light" style="background-color: rgb(35,47,62)">
        <a class="navbar-brand" href="#" style="color: #ffffff;">Second Kill Framework</a>
        <!-- Navbar content -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div style="width: 100%; text-align: center;">
        <img src="../static/images/advertise.png"
             th:src="@{/images/advertise.png}"
             style="margin-left: auto;">
    </div>


    <div class="row" style="width: 100%;">
        <div class="col-1">
            <div style="width: 40px; margin: 5px auto; ">
                <img src="../static/images/iphone%20xr%20small.jpg"
                     th:src="@{/images/iphone%20xr%20small.jpg}"
                     class="img-thumbnail">
            </div>

            <div style="width: 40px; margin: 0 auto;">
                <img src="../static/images/iphone%20xr%20small.jpg"
                     th:src="@{/images/iphone%20xr%20small.jpg}"
                     class="img-thumbnail">
            </div>

        </div>
        <div class="col-5">
            <img src="../static/images/iphone%20xs%201.jpg"
                 th:src="@{/images/iphone%20xs%201.jpg}"
                 style="max-width: 100%; max-height: 100%; width: 557px;">
        </div>
        <div class="col-4" style="border-right:1px solid #DDD">
            <h1 style="font-size: 21px!important; line-height: 1.3!important;font-weight: 400; margin-top: 1rem;">
                Apple iPhone XS Max, Fully Unlocked 6.5", 256 GB - Gold</h1>
            <div style="font-size: 13px;">by <a href="#">Apple</a></div>
            <input type="hidden" class="rating"/>
            <a href="#">32 customer reviews</a> | <a href="#">116 answered questions</a>
            <p style="font-size: 13px!important;"> price:
                <span style="font-size: 17px!important;
                line-height: 1.255!important;
                color: #B12704!important;">
                                    $1000.00  </span>
                &Free shipping
            </p>

            <a href="#">Get $50 off instantly: Pay $1,445.00 upon approval for the Amazon Rewards Visa Card.</a>
            <div class="row" style="margin: 0px;">
                <label style="padding-left: 2px; padding-bottom: 2px;
                color: #888;">color:</label>
                <span style="font-size: 13px;font-weight: 700;">Space Gray</span>
            </div>
            <div class="row" style="margin: 0px;">
                <div style="width: 40px; margin-right: 10px">
                    <img src="../static/images/iphone%20xr%20small.jpg"
                         th:src="@{/images/iphone%20xr%20small.jpg}"
                         class="img-thumbnail">
                </div>
                <div style="width: 40px; margin-right: 10px">
                    <img src="../static/images/iphone%20xr%20small.jpg"
                         th:src="@{/images/iphone%20xr%20small.jpg}"
                         class="img-thumbnail">
                </div>
                <div style="width: 40px; margin-right: 10px">
                    <img src="../static/images/iphone%20xr%20small.jpg"
                         th:src="@{/images/iphone%20xr%20small.jpg}"
                         class="img-thumbnail">
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <label style="padding-left: 2px; padding-bottom: 2px;
                color: #888;">size:</label>
                <span style="font-size: 13px;font-weight: 700;">64GB</span>
            </div>
            <button type="button" class="btn btn-outline-dark btn-sm">64GB</button>
            <br>
            <br>
            <ul style="color: #949494;">
                <li style="margin: 0;"><span>6.5" OLED screen, HDR and 3D Touch</span></li>
                <li>Water Resistant for maximum depth of 2 meters up to 30 mins</li>
                <li>Dual 12 MP wide-angle and telephoto cameras</li>
                <li>Face ID</li>
                <li>Wireless Charging</li>

            </ul>



        </div>
        <div class="col-2">
            <img src="../static/images/USC.jpg"
                 th:src="@{/images/USC.jpg}"
                 style="max-width: 100%; max-height: 100%; width: 200px">
            <div id="countdown" class="card" style="height: 100px; width: 100%; background-color: #DDD; margin-top: 2rem"; >
                <span id="getting-started" style="color: blueviolet; margin: auto"></span>
            </div>
            <span id="show-span"></span>

        </div>
    </div>


    <script src="../static/script/jquery-3.3.1.min.js"
            th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="../static/script/jquery.countdown.js"
            th:src="@{/script/jquery.countdown.js}"></script>
    <script src="../static/script/seckill.js"
            th:src="@{/script/seckill.js}"></script>

</body>
</html>