<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Items</title>
</head>
<body>
    <div class="card" style="width: 100%; margin: 10px">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">number</th>
                    <th scope="col">start time</th>
                    <th scope="col">end time</th>
                    <th scope="col">purchase</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <th scope="row" th:text="${item.seckillId}">1</th>
                    <td th:text="${item.name}">Mark</td>
                    <td th:text="${item.number}">Otto</td>
                    <td th:text="${item.createTime}">@mdo</td>
                    <td th:text="${item.endTime}"></td>
                    <td><button type="button" class="btn btn-primary btn-sm"
                                th:onclick="'window.location.href=\'purchase/'+${item.seckillId}+'/2\''">purchase</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>